{% assign posts = site.posts | where_exp: "item", "item.categories contains category" | sort: "date" | reverse %}

{% assign current_time = site.time | date: "%s" %}

<h2>Recent {{ category }}</h2>
{% if posts.size > 0 %}
<div class="entries-list">
    {% for post in posts %}
    <!-- only include articles less than 4 months old -->
    {% assign post_time = post.date | date: "%s" %}
    {% assign diff = current_time | minus: post_time | divided_by: 86400 %}
    {% if diff < 120 %}
        {% include archive-single.html type='list' %}
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>No {{ category | downcase }} found.</p>
{% endif %}