figure {
    margin: 0;
}
figcaption {
    font-family: inherit;
    font-style: italic;
}
blockquote {
    font-style: normal;
}
.home-icon {
    max-width: 250px;
}
.page__meta-image {
    max-width: 100%;
    border-radius: 24px;
    /* border: 2px solid gray; */
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.page__subtitle {
    line-height: 80%    ;
}